<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.dao.PlanCaseCountMapper">
    <resultMap id="planCaseCount" type="com.pp.entity.PlanCaseCountEntity">
        <result property="count" column="count"/>
    </resultMap>


    <resultMap id="planCaseExecuteTime" type="com.pp.entity.PlanCaseCountEntity">
        <result property="execute_time" column="execute_time"/>
    </resultMap>

    <select id="selectCaseCount" parameterType = "java.lang.Long" resultMap="planCaseCount">
        SELECT count(id) as count
        FROM pp_plan_case_records
        <where>
            plan_id = #{id} AND is_delete = 0
        </where>
    </select>

    <select id="selectCaseNoExectCount" parameterType = "java.lang.Long" resultMap="planCaseCount">

        select count(mpc.id) as count
        from moka_plan_case as mpc
        left join moka_case_image as mci on mci.id = mpc.case_image_id
        where mpc.plan_id = #{id}
        and mpc.is_delete = false
        and (mpc.is_execute = false or mpc.is_execute is null)
        and mci.is_delete = false
    </select>

    <select id="selectCaseLastTimeNorecord" parameterType = "java.lang.Long" resultMap="planCaseExecuteTime">
        select max(mpc.execute_time) as execute_time
        from moka_plan_case as mpc
        left join moka_case_image as mci on mci.id = mpc.case_image_id
        where mpc.plan_id = #{id}
        and mpc.is_delete = false
        and (mpc.is_execute = true )
        and mci.is_delete = false
    </select>


    <select id="selectCaseLastTime" parameterType = "java.lang.Long" resultMap="planCaseExecuteTime">
       select max(t) as execute_time from (select r.execute_time as t from (select mpc.id,mpc.case_image_id,mpc.is_execute,mpc.execute_time,mpc.plan_id from moka_plan_case as mpc
        left join moka_case_image as mci on mci.id = mpc.case_image_id
        where mpc.plan_id =#{id}
        and mpc.is_delete = false
        and mpc.is_execute = true
        and mci.is_delete = false) as o left join moka_plan_case_records r on o.plan_id=r.plan_id and o.case_image_id=r.case_image_id group by r.case_image_id) as e
   </select>

    <select id="selectPlanNoCase" parameterType = "java.lang.Long" resultMap="planCaseCount">

        select count(mpc.id) as count
        from moka_plan_case as mpc
        left join moka_case_image as mci on mci.id = mpc.case_image_id
        where mpc.plan_id = #{id}
        and mpc.is_delete = false
        and mci.is_delete = false
    </select>

</mapper>
